{% extends "shop/base.html" %}

{% block title %}My Account{% endblock %}

{% block content %}

    <h1>Welcome, {{ user.username }}!</h1>
    <h2>Your Orders</h2>

        {% if user_orders %}
            <div class="order-list">
                {% for order in user_orders %}
                    <div class="order-item">
                        <div class="order-header">
                            <strong>Order #{{ order.id }}</strong>
                            <span class="order-status">{{ order.get_status_display }}</span>
                        </div>
                        <div class="order-details">
                            <span class="order-total">Total: £{{ order.get_total_cost }}</span>
                            <span class="order-date">Placed on {{ order.created|date:"F j, Y" }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
    <div class="account-actions">

        <!-- Return to Account page -->
        <a href="{% url 'account:account_details' %}" class="btn">See Account Details</a>

        <!-- Go to Shopping -->
        <a href="{% url 'shop:product_list' %}" class="btn">Go to Shopping</a>

        <!-- Exit (Logout) -->
            <form method="POST" action="{% url 'account:logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    </div>
{% endblock %}