{% extends "shop/base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
    <h1>Log in</h1>

    {% if form.errors %}
    <p>
        Your username and password do not match. Please try again.
    </p>
    {% else %}
    <p>
        Please use this form to log in.
        if you do not have an account, <a href="{% url 'account:register' %}">register here</a>
    </p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'account:login' %}" method="post">
            {{ form.as_p}}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next|default:'/account/dashboard/' }}" />
            <p><input type="submit" value="Login"></p>
        </form>

    </div>
{% endblock %}