{% extends "shop/base.html" %}
{% load static %}

{% block title %}Log in{% endblock %}

{% block content %}
  <h1>Log in</h1>

  {% if form.errors %}
    <p>Your username and password do not match. Please try again.</p>
  {% else %}
    <p>
      Please use this form to log in.<br>
      If you do not have an account, <a href="{% url 'account:register' %}">register here</a>.<br>
      <a href="{% url 'password_reset' %}">Forgot your password?</a>
    </p>
  {% endif %}

  <div class="login-form">
    <form action="{% url 'account:login' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next|default:'/account/dashboard/' }}" />
      <p><input type="submit" value="Login"></p>
    </form>
  </div>
{% endblock %}
