{% extends "shop/base.html" %}

{% block title %}Barista Dashboard - Coffee Shop{% endblock %}

{% block content %}
<h2>Welcome, {{ request.user.username }} (Barista)</h2>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}


<table border="1">
    <thead>
    <tr>
        <th>Order ID</th>
        <th>Customer Name</th>
        <th>Status</th>
        <th>Change Status</th>
    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        <tr>
        <td>{{ order.id }}</td>
        <td>
            {% if order.user and order.user.is_authenticated %}
            {{ order.user.first_name }} <!-- display only the customer's first_name for -->
            {% else %}
                Guest Order
            {% endif %}

        </td>
        <td>{{ order.status }}</td>
        <td>
            <form method="post" action="{% url 'account:update_order_status' order.id %}">
                {% csrf_token %}
                <select name="status">
                    <option value="Pending" {% if order.status == "Pending" %} selected {% endif %}>Pending</option>
                    <option value="Preparing" {% if order.status == "Preparing" %} selected {% endif %}>Preparing</option>
                    <option value="Collected" {% if order.status == "Collected" %} selected {% endif %}>Collected</option>
                </select>
                <button type="submit">Update</button>
            </form>
        </td>
    </tr>
        {% empty %}
    <tr>
        <td colspan="4">No pending orders available.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<p>Total Pending Orders: {{ orders|length }}</p>
{% endblock %}